<!DOCTYPE html>
<html>
    <head>
        <title>Lights</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/stylesheet.css')}}">
    </head>
    <body>
        <div class="grid-container">

            <a href="hue-lights"><div class="grid-item ">Turn lights on</div></a>
            <a href="traffic" ><div class="grid-item ">Turn Lights off</div></a>
            <a href="traffic" ><div class="grid-item ">3</div></a>
        </div>
    </body>
</html>e


<form method="post" action="target.html">
    <input type="hidden" name="name" value="value" /> 
    <a onclick="this.parentNode.submit();">click here</a>
  </form>