body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* LEFT SIDE */
.left__container {
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

.container__time {
    text-align: center;
    border: 1px solid white;
    font-size: 2.5vw;
}


.container__date {
    text-align: center;
    border: 1px solid white;
    font-size: 2.5vw;
}

.sl {
    text-align: center;
    border: 1px solid white;
    font-size: 2.5vw;
}
.todo {
    text-align: center;
    border: 1px solid white;
    font-size: 2.5vw;
}
.todo__list {
    text-align: left;
}


/* RIGHT SIDE */
.right__container {
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

.container__fitbit {
    text-align: center;
    font-size: 2.5vw;
    border: 1px solid white;
}
.sleep {
    text-align: left;
    padding-left: 10%;
}


.container__weather {
    text-align: center;
    border: 1px solid rgb(223, 140, 140);
    font-size: 2.5vw;
}

.weather__current {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weather__description {
    text-align: center;
    font-size: 2.5vw;
    margin-top: 0.25em;
}

/* .weather__icon {
    width: 10.5em;
}

.weather__temperature {
    font-size: large;
} */