<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="static/js/application.js"></script>
    <link rel="stylesheet" href="/static/css/magic_mirror_style.css">
    <link rel="shortcut icon" href="favicon.ico" size="32x32">
    <title>Testing</title>
</head>
<body>
    <header></header>
    <main>
        <div class="container">

            <div class="left__container">
                
                <div class="container__time">
                    <h1 class="time"> {{ MOA.current_time }} </h1>
                </div>

                <div class="container__date">
                    <h2 class="date"> {{ MOA.current_day }}</h2>
                </div>

                <div class="sl__break"></div>

                <div class="container__sl">
                    <h5 class="sl__header">{{ MOA.sl_travel[0].origin_name }} → {{ MOA.sl_travel[0].destin_name }} </h5>
                    <div class="sl__break"></div>
                    {% for trip in MOA.sl_travel %}
                        <div class="sl__time__container">
                            <p class="sl__time"> {{ trip.origin_time[9:14] }} ‣ {{ trip.destin_time[9:14] }}</p>
                            <p class="sl__time"> {{ trip.total_time }}</p>
                        </div>
                        <div class="sl__transport__container">
                            {% for transport in trip.transports %}
                                <p class="sl__icon {{transport.color}}">{{ transport.line }}</p>
                            {% endfor %}
                        </div>
                        <div class="sl__break"></div>
                    {% endfor %}
                </div>

                <div class="container__todo">
                    <h4 class="todo__list__name"> {{ MOA.todo_list['name']}} </h4>
                    <div class="sl__break"></div>
                    <ul class="todo__list">
                        {% for task in MOA.todo_list['tasks'] %}
                        <li class="todo_list_task"> {{ task }} </li>
                        {% endfor %}
                    </ul>
                    <div class="sl__break"></div>

                </div>
                
            </div>

            <div class="right__container">

                <div class="container__weather">

                    <div class="container__weather__current">
                        <div class="container__weather__current_top">
                            <div class="container__weather__icon">
                                <img class="weather__current__icon" src="{{MOA.weather_current.icon}}" alt="weather_icon">
                            </div>
                            <h1 class="weather__current__temperature">{{MOA.weather_current.temperature}}</h1>
                        </div>

                        <div class="sl__break"></div>
 
                        <div class="container__weather__current_bot">
                            <h5 class="weather__description">{{MOA.weather_current.description}}</h5>
                            <p class="weather__feels_like">Känns som {{MOA.weather_current.feels_like}}</p>
                            <div class="sub__weather_description">
                                <p class="sub__weather_description_text">M : {{MOA.weather_current.clouds}}</p>
                                <div class="row_break"></div>
                                <p class="sub__weather_description_text">V : {{MOA.weather_current.wind}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="sl__break"></div>

                    <div class="container__weather__forecast">
                        <div class="container__weather__forecast_hours">
                            <div class="row_break_forecast"></div>
                            {% for forecast in MOA.weather_forecast %}
                            <div class="weather__forecast_hour">
                                <img class="weather__forecast__icon" src="{{forecast.icon}}" alt="weather_icon">
                                <p class="weather__forecast__temperature">{{forecast.temperature}}</p>
                                <p class="weather__forecast__time">{{forecast.dt[8:-3]}}</p>
                            </div>
                            <div class="row_break_forecast"></div>
                            {% endfor %}
                        </div>
                    </div>
    

                </div>

                <div class="container__fitbit">
                    {% if MOA.fitbit_active %}
                    <h4 class="fitbit__summary">{{ MOA.fitbit_list['summary']}}</h4>
                    <div class="sl__break"></div>
                    {% for sleep in MOA.fitbit_list['data'] %}
                        <div class="fitbit__total_sleep__container">
                            <div class="fitbit__total_sleep_date" style="display: flex; flex-direction: column;">
                                <p class="fitbit__total_sleep_day">{{ sleep['day'] }}</p>
                                <p class="fitbit__total_sleep_time">{{ sleep.start[11:16] }}‣{{ sleep.end[11:16] }}</p>
                            </div>
                            <p class="fitbit__total_sleep_summary">{{ sleep['hours'] }}h {{ sleep['minutes'] }}min</p>
                        </div>
                        <div class="fitbit__sleep_bar__container">
                            <div class="fitbit__sleep_bar">
                                <div class="fitbit__sleep_bar_light" style="width: {{(sleep.light/sleep.total_minutes)*100}}%;">light</div>
                                <div class="fitbit__sleep_bar_deep" style="width: {{(sleep.deep/sleep.total_minutes)*100}}%;">deep</div>
                                <div class="fitbit__sleep_bar_rem" style="width: {{(sleep.rem/sleep.total_minutes)*100}}%;">rem</div>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                    <h4 class="fitbit__name" style="text-align: center;">No Data Available</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
</body>
</html>