<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="static/js/application.js"></script>
    <link rel="stylesheet" href="/static/css/magic_mirror_style.css">
    <link rel="shortcut icon" href="favicon.ico" size="32x32">
    <title>Testing</title>
</head>
<body>
    <header></header>
    <main>
        <div class="container">

            <div class="left__container">
                
                <div class="container__time">
                    <h1 class="time"> {{ MOA.current_time }} </h1>
                </div>

                <div class="container__date">
                    <h2 class="date"> {{ MOA.current_day }}</h2>
                </div>

                <div class="sl">
                    <h5>{{ MOA.sl_travel[0].origin_name }} -> {{ MOA.sl_travel[0].destin_name }} </h5>
                    {% for trip in MOA.sl_travel %}
                        <p> {{ trip.origin_time[9:14] }} -> {{ trip.destin_time[9:14] }}</p>
                    {% endfor %}
                </div>

                <div class="todo">
                    <ul class="todo__list">
                        <h4> {{ MOA.todo_list['name']}} </h4>
                        {% for task in MOA.todo_list['tasks'] %}
                        <li> {{ task }} </li>
                        {% endfor %}
                    </ul>

                </div>
                
            </div>

            <div class="right__container">

                <div class="container__weather">

                    <div class="weather__current">
    
                        <div class="weather__description">
                            <div class="weather__icon__container">
                                <img class="weather__icon" src="{{MOA.weather_current.icon}}" alt="weather_icon">
                            </div>
                            <h4>{{MOA.weather_current.description}}</h4>
                        </div>
    
                        <div class="weather__description">
                            <h1 class="weather__temperature">{{MOA.weather_current.temperature}}</h1>
                            <h4>Känns som {{MOA.weather_current.feels_like}}</h4>
                        </div>
    
                    </div>
    
                    <p> Moln        : {{MOA.weather_current.clouds}} </p>
                    <p> Vind        : {{MOA.weather_current.wind}} </p>

                </div>

                <div class="container__fitbit">
                    <h4>Sömn: ~{{ MOA.fitbit_list['summary']['hours']}}h {{ MOA.fitbit_list['summary']['minutes']}}min </h4>
                    {% for sleep in MOA.fitbit_list['data'] %}
                        <p class="sleep">{{ sleep['day'] }} -> {{ sleep['hours'] }}h {{ sleep['minutes'] }}min</p>
                    {% endfor %}
                </div>

            </div>

        </div>
    </main>
    <footer></footer>
</body>
</html>