<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="static/js/application.js"></script>
    <link rel="stylesheet" href="/static/css/magic_mirror_style.css">
    <link rel="shortcut icon" href="favicon.ico" size="32x32">
    <title>Testing</title>
</head>
<body>
    <header></header>
    <main>
        <div class="left__container">

            <h1 class="time"> {{ MOA.current_time }} </h1>

            <h2 class="date"> {{ MOA.current_day }}</h2>

            <div class="sl">
                <h3>{{ MOA.sl_travel[0].origin_name }} -> {{ MOA.sl_travel[0].destin_name }} </h3>
                {% for trip in MOA.sl_travel %}
                    <p> {{ trip.origin_time[9:14] }} -> {{ trip.destin_time[9:14] }}</p>
                {% endfor %}
            </div>

            <div class="todo">
                <h3> {{ MOA.todo_list['name']}} </h3>
                {% for task in MOA.todo_list['tasks'] %}
                    <p> {{ task }} </p>
                {% endfor %}
            </div>
            
        </div>
    </main>
    <footer></footer>
</body>
</html>