<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsoft Todo</title>
</head>
<body>
    <main>
        <h1>TODO 🪐: </h1>

        <form action="/graph/" method="POST">

            <label for="user__input">--->  </label>
            <textarea type="text" name="user__input"></textarea>
            <button type="submit">SÖK</button>
        </form>

        <p> {{ response_string }} </p>
    </main>
    


</body>
</html>