<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/user.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>SL Trafik</title>
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
            <a href="/user/"><img class="navbar__logo" src="/static/img/icon.png" alt="tahko-icon"></a>MoA
        </div>
        <div class="navigation__button" onclick="navbar_button(this); navbar_toggle(this);">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div id="side_navigation" class="side_nav">
            <br><br>
            <a href="#">Logga in</a>
            <a href="https://github.com/DanjelTahko/MAGIC_MIRROR">Källkod</a>
            <a href="https://www.danieltahko.com/">Hemsida</a>
        </div>
    </header>
    <div class="header__breaker"></div>
    <main>
        <form class="form" action="/traffic/" method="POST">
            <div class="form__input">
                <p>
                    <label class="form__label" for="From">Från :</label>
                    <input class="form__textinput" type="text" name="From" placeholder="{{ trains[0].origin_name }}">
                </p>
                <div class="header__breaker"></div>
                <p>
                    <label class="form__label" for="To">Till :</label>
                    <input class="form__textinput" type="text" name="To" placeholder="{{ trains[0].destin_name }}">
                </p>
            </div>
            <button class="form__submit" type="submit" value="Submit">SÖK</button>
        </form>
        <div class="topright" id="right">
            <p>{{ trains[0].origin_name }} -> {{ trains[0].destin_name }}</p>
            {% for trip in trains %}
                <p>{{ trip.origin_time[9:14] }} -> {{ trip.destin_time[9:14] }}</p>
            {% endfor %}
        </div>
    </main>
</body>
</html>