<!DOCTYPE html>
<html>
    <head>
        <title>SL Traffic</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/stylesheet.css')}}">
    </head>
    <body>
        <form action="/traffic" method="post">
            <label for="From">From :</label>
            <input type="text" id="From" name="From">

            <label for="To">To :  </label>
            <input type="text" id="To" name="To"><br><br>

            <input type="submit" value="Submit">
        </form>

        <div class="topright" id="right">
            <p>{{trains[0].name}} -> {{trains[0].destination_name}}</p>
            {% for train in trains %}
            <p>{{train.departure_planned}} -> {{train.arrivaltime_planned}}</p>
            {% endfor %}
        </div>

    </body>
</html>