<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/user.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>User Menu</title>
</head>
<body>
    <header class="navbar">
        <div class="navbar__brand">
            <a href="/user/"><img class="navbar__logo" src="/static/img/icon.png" alt="tahko-icon"></a>MoA
        </div>
        <div class="navigation__button" onclick="navbar_button(this); navbar_toggle(this);">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div id="side_navigation" class="side_nav">
            <br><br>
            <a href="#">Logga in</a>
            <a href="https://github.com/DanjelTahko/MAGIC_MIRROR">Källkod</a>
            <a href="https://www.danieltahko.com/">Hemsida</a>
        </div>
    </header>
    <div class="header__breaker"></div>
    <main>
        <div class="main">
            <a class="main__link" href="/traffic/">🚂 SL Trafik</a>
            <a class="main__link" href="/todo-list/">✅ TODO</a>
            <a class="main__link" href="/todo-list/">🏋🏽 FITBIT</a>
            <a class="main__link" href="/" >🪞 Magic Mirror (DEMO)</a>
        </div>
    </main>
    <footer></footer>
</body>
</html>